<header>
    <nav>
        <a href="/">MyBrary</a>
        <ul>
            <div><a href="/authors">Authors</a></div>
            <div><a href="authors/new">Add Author</a></div>
        </ul>
    
    </nav>
</header>